.form-container {
  margin-bottom: 20px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 50%;
  margin-left: 20rem;
  margin-top: 4rem;
}

.form-input h5,
.add-expense-container h5 {
  margin: 0;
}

.amount-input,
.description-input,
.category-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.add-expense-button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-expense-button:hover {
  background-color: #45a049;
}

.add-expense-button:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}

.add-expense-button:disabled:hover {
  background-color: #a9a9a9;
}

.expense-list-container {
  margin-bottom: 20px;
  margin-left: 20rem;
}

.download-csv-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 34rem;
  margin-top: 3rem;
}

.download-csv-button:hover {
  background-color: #2980b9;
}
