.expense-item {
  border-bottom: 1px solid #ccc;
}

.expense-item td {
  padding: 10px;
}

.btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.premium-btn {
  padding: 5px 10px;
  background-color: #ff8800;
  color: #fff;
  border: none;
  cursor: pointer;
}
