.expense-item {
  align-items: center;
}

.expense-item td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.category-label,
.label {
  font-weight: bold;
}

.btn {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.premium-btn {
  padding: 8px 16px;
  background-color: #ff9800;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
