.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.imageContainer {
  flex: 1;
  margin-right: 2rem;
}

.expenseImage {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
