.main_div {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-weight: bold;
}

.complete_profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  bottom: 15rem;
  margin-top: 20rem;
}

.rightSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-right: 1rem;
}

.homeContainer {
  background-image: url("../Images/pexels-monstera-6289064\ \(2\).jpg");
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  background-size: 100% auto;
}
